body{
  background-color: azure;
}

table{
  border-collapse: collapse;
  width: 70%;
  margin: 40px auto;
}
td,th{
  border: 1px solid rgb(186, 186, 234);
  padding: 10px;
}
table img{
  height: 50px;
  width: 50px;
}

form {
  width: 90%;
  margin: 30px;

}
form input,option{
  width: 90%;
  margin: 10px;
  font-size: 15px;
  padding: 4px;
  border-radius: 3px;
}
form input:nth-child(13){
  width: 20%;
  margin: auto;
  background-color: lightgreen;
}